
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımda  Menüsü</h1>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Şehir</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Olya</td>
        <td>Türkmenabat</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Oner</td>
        <td>Sakarya</td>
    </tr>
</table>

