@using MyMvcCv.Models.Entity
@model List<TblDeneyimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<br />
<h2>Denetim Listesi </h2>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih </th>
        <th>Sil </th>
        <th>Düzenle </th>
    </tr>
    @foreach (var item in Model)
    {
        count += 1;
        <tr>
            <td>@count</td>
            <td>@item.Baslik</td>
            <td>@item.AltBaslik</td>
            <td>@item.Tarih</td>
            <td><a href="/Deneyim/DeneyimSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Deneyim/DeneyimEkle" class="btn btn-primary">Yeni Deneyim Ekle</a>

